//NAVBAR

#navbar {
  grid-column: 1/2;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.8)
  );
  border-radius: 10px 0 0 10px;
}

.navbar-search-input {
  border: none;
  border-bottom: solid 0.5px gray;
  border-radius: 0;
  outline: none;
  transition: width 0.8s ease-out;
  padding: 2px;
  background-color: transparent;
  width: 0px;
  &:focus {
    width: 100px;
  }
}

.selected {
  width: 100% !important;
  border-left: solid 10px $mypink !important;
}

.navbar--text {
  font-family: "Poppins", sans-serif;
  font-size: 0.7em;
  color: rgb(57, 54, 54);
  // margin-bottom: -5px;
}
.navbar--element {
  height: 20px;
  width: 50%;
  margin-top: 50px !important;
  cursor: pointer;
  transition: all 0.5s ease-out;
  border-left: solid 0px $mypink;
  &:hover {
    // transform: translateX(20%);
    // width: 100%;
    border-left: solid 10px $mypink;
  }
}

.icons-container {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}

.icons {
  font-size: 150%;
  color: rgb(57, 54, 54);
  margin: 30px;
  position: relative;
}